@import url(./assets/fonts/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    275deg,
    #29eb2629 0%,
    #29c39f39 51.5%,
    #3fb1ab37 100%
  );
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: #3fb1ab28;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
